*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
a{
    text-decoration:none;
}
.header #logo{
    display: block;
    position:relative;
    left:17%;
    margin:28px 0 24px 3px;
}
.header{
    position: relative;
    border-bottom: 1px solid red;
    overflow:hidden
}
.intro {
    width: 400px;
    font-family: 'Maven Pro', sans-serif;
    font-size: 30px;
    font-weight: bolder;
    color: rgb(216,50,48);
    position:relative;
    top:40px;
    left: 17%;
    clear:both;
    margin-bottom: 40px;
    overflow:hidden;
}
.sep{
    display:flex;
    overflow:hidden;
}
.sep1{
    width: 16%;
    height: 35px;
    background-color: rgb(216,50,48);
}
.sep2{
    width: 84%;
    height: 35px;
    background-color: rgb(216,50,48);
    float:right;
    margin-left: 4px;
    overflow:hidden;
}
.main{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    clear: both;
    margin-top: 25px;
}
.main2{
    display:none;
}
/* .intro-main{
    margin-top: 25px;
    margin-right: 5px;
    justify-items: center;
    display:flex;
    justify-content: center;
} */
.para{
    margin-top: 8px;
    display:flex;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(58,58,58);
    font-weight:700;
    /* letter-spacing: 1px; */
}
.mid-sec{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.l1{
    display:flex;
    margin-top: 75px;
    margin-right: 40px;
    flex-direction: column;
    
}
.l12{
    display:none;
}
.r1{
    margin-left: 44px;
}
.toffer{
    margin-top: 25px;
    padding-left: 10px;
    font-size:25px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(240,125,52);
}
.btn{
    position: relative;
    left: -10px;
    text-align: center;
    margin-top: 20px;
    color: white;
    background-color: rgb(240,127,36);
    padding-top: 10px;
    padding-bottom: 10px;
    width: 434px;
}
.final-sec{
    width:100%;
    height: fit-content;
    background-color: rgb(31,133,143);
    position: relative;
    top: -120px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;

}
.ribbon{
    width:100%;
    height: 21px;
    background-color: rgb(21,96,104);
}
.lad{
    width:60%;
    display:flex;
    justify-content: center;
    margin-bottom: 20px;
    border-right: #8ec2c7 3px solid;
    position: relative;
}
.rad{
    width:40%;
    display:flex;
    justify-content:center;
    position: relative;
    overflow: hidden;
}
.iadd{
    position:relative;
    right: 25px;
}
.iad2{
    position:relative;
    left: 10px;
}
.tadd{
    text-align: center;
    color:white;
    font-size: 25px;
    font-family: Arial;
}
.iadd p{
    color: white;
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    font-family:Arial, Helvetica, sans-serif;
}
.btn-r{
    color: rgb(254,244,244);
    text-align: center;
    margin-top: 25px;
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-size: 15px;
    background-color: rgb(235,23,31);
    padding: 10px;
    width: 154px;
    height: 35px;
    position: relative;
    left: 150px;
    border-radius: 20px;
}
.rad .btn-r{
    margin-top: 37px;;
    margin-right: 15px;
}
.end{
    position: relative;
    top: -120px;
    position: relative;
    left: 17%;
    margin-top: 15px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 18px;
    width: 50%;
}
.end a{
    text-decoration: none;
    color: #3a3a3a;
}
.end a:hover{
    color: rgb(240,127,36);
}
.final-sec-mob{
    display: none;
}
@media only screen and (max-width: 810px){
    .header{
        display: none;
    }
    .sep{
        display: none;
    }
    .intro{
        left:0;
        top: 0;
        padding: 8px 15px;
        font-size: 18px;
        font-weight: 600;
        width:100%;
        border-bottom: 1px solid crimson;
        margin-bottom: 0;
        /* display:flex;
        justify-content: space-around */
    }
    .intro-main img{
        max-width:80%;
        height:auto;
    }
    .intro-main{
        display: none;
    }
    .main{
        margin-top:0;
    }
    .main2{
        display: flex;
        justify-content: center;
    }
    .para{
        width: 247px;
        font-size: 18px;
        text-align:center;
        margin-top: 15px;
    }
    .l1{
        display: none;
    }
    .l12{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content:center;
        align-items: center;
        margin-top:20px;
    }
    .toffer2{
        display:flex;
        flex-direction: column;
        justify-content:space-around;
        align-items: center;
    }
    .toffer2 p{
        color: rgb(240,125,52);
        margin-top: 10px;
        font-size: 18px;
        font-Weight:500;
        font-family: Arial, Helvetica, sans-serif;
    }
    .btn{
        width: 218px;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .r1 img{
        width:229px;
        height: 401px;
        margin-top: 15px;
        position: relative;
        right: 30px;
    }
    .final-sec{
        
        flex-direction: column;
        justify-content: center;  
        align-content:center;
    }
    .lad{
        display: none;
    }
    .rad{
        display: none;
    }
    .final-sec{
        display: none;
    }
    .final-sec-mob{
        display: flex;
        width:100%;
        height: 665px;
        background-color: rgb(31,133,143);
        position: relative;
        top: -105px;
        align-items: space-between;
        flex-direction: column;
    }
    .ribbon2{
        width:100%;
        height: 21px;
        background-color: rgb(21,96,104);
    }
    .uad{
        height: 50%;
        margin-top: 25px;
        margin-left: 80px;
        color: white;
        border-bottom: 3px solid #8ec2c7;
        margin-right: 45px;
    }
    .tadd2 {
        color: white;
        text-align: center;
        position: relative;
        left: -20px;
        font-size: 24px;
        font-family:Arial, Helvetica, sans-serif;
    }
    .uad p{
        font-family:Arial, Helvetica, sans-serif;
        font-size: 12px;
        text-align: center;
        position: relative;
        top: 15px;
        left: -10px;
        
    }
    .uad img{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .btn-r{
        margin-top: 40px;
        width: fit-content;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 2px;
    }
    .dad{
        margin-top: 40px;
    }
    .dad img{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .bt2{
        color: rgb(254,244,244);
        text-align: center;
        margin-top: 10px;
        font-family:Arial, Helvetica, sans-serif;
        letter-spacing: 1px;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 2px;
        background-color: rgb(235,23,31);
        padding: 10px;
        width: 154px;
        height: 35px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 20px;
    }
    .end{
        width: 80%;
        position: relative;
        left: 20px;
        margin-top: 45px;
    }
}
